<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="ex14jikwon.js"></script>
</head>
<body>
    <div id="app">
        <button @click="showFunc">Ajax로 직원 읽기</button>
        <!-- {{jikwons}} -->
        <table border="1" v-if="jikwons && jikwons.length > 0">
            <thead>
                <tr>
                    <th>사번</th><th>이름</th><th>직급</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="jikwon in jikwons" :key="jikwons.jikwonno">
                    <td>{{jikwon.jikwonno}}</td>
                    <td>{{jikwon.jikwonname}}</td>
                    <td>{{jikwon.jikwonjik}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>