<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="ex8.js"></script>
</head>
<body>
    ** 반복 렌더링 v-for 디렉티브 연습 **
    <div id="app">
        <h3>마시고 싶은 음료들</h3>
        <ul>
            <li v-for="item in list" :key="item">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item, i) in list" :key="i">({{i}}){{item}}</li>
        </ul>
        <br/>
        <h3>여행지 목록</h3>
        <ol>
            <li v-for="city in objArray" :key="city.name">{{city.name}}의 소요시간은 {{city.taketime}}</li>
        </ol>
        <br/>
        <h3>구구단 3단</h3>
        <div v-for="n in 9" :key="n">3 * {{n}} = {{3 * n}}</div> 
        <hr/>
        <h3>배열 자료의 참조, 추가, 수정, 삭제</h3>
        <ul>
            <li v-for="item in myArr" :key="item">{{item}}</li>
        </ul>
        <button @click="addList">자료 추가(맨뒤)</button>
        <button @click="addListIndex(2)">자료 삽입(특정위치)</button>
        <button @click="changeList(2)">자료 변경</button>
        <button @click="deleteList(1)">자료 삭제</button>
        <br/>
        <h3>for, if문을 한 대의 엘리먼트 내에서 사용 - 주의</h3>
        <!-- <span v-for="i in numArr" v-if="i % 2 === 1" :key="i">{{i}}&nbsp;&nbsp;</span> -->
        <!-- 성능상의 이유로 v-for와 v-if는 분리해서 작업 -->
        <template v-for="i in numArr" :key="i">
            <span v-if="i % 2 === 1">{{i}}&nbsp;&nbsp;</span>
        </template>
    </div>
</body>
</html>